*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    height: 100vh;
    background-image: url("./images/intro-background.png");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro>.heading {
    font-family: 'Lora', serif;
    font-size: 60px;
    color: #ffffff;
    font-weight: 500;

}

.intro>.subheading {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #E0B084;
}

.intro-mobile {
    display: none;
    background-color: #041B2D;
}

.intro>.logo-container {
    max-width: 50%;
    max-height: 50%;
}

.intro>.logo-container>img {
    width: 100%;
}



.arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #E0B084;
    border-right: 3px solid #E0B084;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@media screen and (max-width: 765px) {
    .intro-section {
        height: 100vh;

    }

    .intro {
        display: none;
    }

    .intro-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        animation: animateLogo 1s ease-out;
    }
}

@keyframes animateLogo {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}